/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-LICE .header {
  color: #FFFFFF;               /* Header color. Default is white. */
}

.MMM-LICE .timestamp {
  color: #FFFFFF;               /* timestamp color. Default is white. */
}

.MMM-LICE .source {
  color: #FFFFFF;               /* source color. Default is white. */
}

.MMM-LICE .symbol {
  color: #62FF00;               /* symbols color. Default is white. */
}